#button-container-butt{
    width: 50%;
}

#button-container{
    text-align: center;
}

#buttonz{
    font-family: inherit;
    font-size: inherit;
    height: 5%;
    width: 100%;
}

#whole{
    margin-left: 35%;
    margin-right: 35%;
}
