#button-container-butt{
    width: 50%;
}
#button-container-butt2{
    width: 50%;
    text-align: center;
}

#button-container{
}

#buttonz{
    font-family: inherit;
    font-size: inherit;
    height: 5%;
    width: 100%;
}

#whole{
    margin-left: 35%;
    margin-right: 35%;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #337ab7;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}
